<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
    <div class="container">
        <div th:replace="fragments/messages :: messages"></div>

        <div class="row">
            <div class="row">

                <!-- LEFT -->

                <div class="col s2">
                    <div class="row">
                        <div class="col s12">
                            <img th:src="@{/img/pp/} + ${userProfileFront.picture}" class="responsive-img z-depth-2" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 right-align">
                            <h6 th:text="${userProfileFront.name}" class="bold"></h6>
                        </div>
                    </div>
                </div>


                <!-- MID -->

                <div class="col s8 ">

                    <!-- INFROMATION -->

                    <div class="row">
                        <div class="col s12">
                            <div class="row z-depth-2">
                                <div class="row">
                                    <div class="col s12">
                                        <h5 class="center bold">INFO</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s6 right-align">
                                        <p th:if="${userProfileFront.name != ''}">RL Name</p>
                                        <p th:if="${userProfileFront.user.username!= ''}">NiceName</p>
                                        <p th:if="${userProfileFront.user.email != ''}">Email</p>
                                        <p th:if="${userProfileFront.sex != ''}">Sex</p>
                                        <p th:if="${userProfileFront.city != ''}">City</p>
                                        <p th:if="${userProfileFront.birthday != null}">Birthday</p>
                                        <p th:if="${userProfileFront.user.createdAt != null}">Register date</p>
                                        <p th:if="${userProfileFront.user.lastLoginTime != null}">Last login</p>
                                        <p th:if="${userProfileFront.footer != ''}">Footer</p>
                                        <p th:if="${userProfileFront.aboutMe != ''}">About Me</p>
                                        <p th:if="${userProfileFront.user.role != ''}">Role</p>
                                    </div>
                                    <div class="col s6">
                                        <p th:text="${userProfileFront.name}"></p>
                                        <p th:text="${userProfileFront.user.username}"></p>
                                        <p th:text="${userProfileFront.user.email}"></p>
                                        <p th:text="${userProfileFront.sex}"></p>
                                        <p th:text="${userProfileFront.city}"></p>
                                        <p th:text="${userProfileFront.birthday} ? ${#calendars.format(userProfileFront.birthday, 'dd MMMM yyyy')}"></p>
                                        <p th:text="${userProfileFront.user.createdAt} ? ${#calendars.format(userProfileFront.user.createdAt, 'dd MMMM yyyy HH:mm')}"></p>
                                        <p th:text="${userProfileFront.user.lastLoginTime} ? ${#calendars.format(userProfileFront.user.lastLoginTime, 'dd MMMM yyyy HH:mm')}"></p>
                                        <p th:text="${userProfileFront.footer}"></p>
                                        <p th:text="${userProfileFront.aboutMe}"></p>
                                        <p th:text="${userProfileFront.user.role}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <!-- TOPICS -->

                    <div class="row" th:if="${userActivity.topics.size() > 0}">
                        <div class="col s12">
                            <div class="row z-depth-2">
                                <div class="col s12">
                                    <div class="row">
                                        <h5 class="center bold">TOPICS</h5>
                                    </div>
                                    <div class="row">
                                        <div class="col s6">
                                            <span>Date</span> <span class="right">Section</span>
                                            <div class="divider"></div>
                                        </div>
                                        <div class="col s6">
                                            <span>Title</span> <span class="right">Views</span>
                                            <div class="divider"></div>
                                        </div>
                                    </div>

                                    <div class="row" th:each="topic : ${userActivity.topics}">
                                        <div class="col s6">
                                            <span th:text="${topic.creationDateFront} ? ${#calendars.format(topic.creationDateFront, ' d MMM yy HH:mm')}"></span>
                                            <a th:href="@{/section/} + ${topic.section.id}" th:text="${topic.section.name}" class="right"></a>
                                        </div>
                                        <div class="col s6">
                                            <a th:href="@{/topic/} + ${topic.id}" th:text="${topic.title}"></a>
                                            <span th:text="${topic.views}" class="right"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- POSTS -->

                    <div class="row" th:if="${userActivity.posts.size() > 0}">
                        <div class="col s12">
                            <div class="row">
                                <div class="col s12 z-depth-2">

                                    <div class="row">
                                        <h5 class="center bold">POSTS</h5>
                                    </div>
                                    <div class="row">
                                        <div class="col s6">
                                            <span>Date</span> <span class="right">Topic</span>
                                            <div class="divider"></div>
                                        </div>
                                        <div class="col s6">
                                            <span>Content</span>
                                            <div class="divider"></div>
                                        </div>
                                    </div>
                                    <div class="row" th:each="post : ${userActivity.posts}">
                                        <div class="col s6 right-align">
                                            <span th:text="${post.creationDate} ? ${#calendars.format(post.creationDate, 'd MMM yy HH:mm')} + '&nbsp; &nbsp;'" class="left"></span>
                                            <a th:href="@{/topic/} + ${post.topic.id}" th:text="${post.topic.title}" class="truncate"></a>
                                        </div>
                                        <div class="col s6">
                                            <a th:href="@{/topic/} + ${post.topic.id} + '#' + ${post.id}" th:text="${post.content}" class="truncate"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- RIGHT -->

                <div class="col s2">
                    <div class="row">
                        <div class="col s12">

                            <!-- STATISTICS -->

                            <div class="row">
                                <div class="col s11 z-depth-2 right">
                                    <h6 class="center bold">STATISTICS</h6>
                                    <div class="divider"></div>
                                    <div class="row">
                                        <div class="col s6 center">
                                            <p>Topics</p>
                                            <p>Posts</p>
                                        </div>
                                        <div class="col s6 center">
                                            <p th:text="${userActivity.topics.size()}"></p>
                                            <p th:text="${userActivity.posts.size()}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- EDIT -->

                            <div class="row">
                                <div class="col s11 z-depth-2 right">
                                    <h6 class="center bold">Change</h6>
                                    <div class="divider"></div>
                                    <div>
                                            <a class="center bold" th:if="${#authentication.name} eq ${userProfileFront.user.email}" th:href="@{/myprofile/edit}">Edit My Profile</a>
                                        </div>
                                    <div>
                                            <a th:if="${#authentication.name} eq ${userProfileFront.user.email}" th:href="@{/myprofile/edit}">
                                                <i class="material-icons medium black-text">mode_edit</i>
                                            </a>
                                        </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
